@font-face {
    font-family: "BarlowCondensed";
    src: url("./assets/fonts/BarlowCondensed-Thin.ttf");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "BarlowCondensed";
    src: url("./assets/fonts/BarlowCondensed-ThinItalic.ttf");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "BarlowCondensed";
    src: url("./assets/fonts/BarlowCondensed-ExtraLight.ttf");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "BarlowCondensed";
    src: url("./assets/fonts/BarlowCondensed-ExtraLightItalic.ttf");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "BarlowCondensed";
    src: url("./assets/fonts/BarlowCondensed-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "BarlowCondensed";
    src: url("./assets/fonts/BarlowCondensed-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "BarlowCondensed";
    src: url("./assets/fonts/BarlowCondensed-Italic.ttf");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "BarlowCondensed";
    src: url("./assets/fonts/BarlowCondensed-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "BarlowCondensed";
    src: url("./assets/fonts/BarlowCondensed-Medium.ttf");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "BarlowCondensed";
    src: url("./assets/fonts/BarlowCondensed-SemiBold.ttf");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "BarlowCondensed";
    src: url("./assets/fonts/BarlowCondensed-SemiBoldItalic.ttf");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "BarlowCondensed";
    src: url("./assets/fonts/BarlowCondensed-Black.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "BarlowCondensed";
    src: url("./assets/fonts/BarlowCondensed-BlackItalic.ttf");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "BarlowCondensed";
    src: url("./assets/fonts/BarlowCondensed-Bold.ttf");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "BarlowCondensed";
    src: url("./assets/fonts/BarlowCondensed-BoldItalic.ttf");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "BarlowCondensed";
    src: url("./assets/fonts/BarlowCondensed-ExtraBold.ttf");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "BarlowCondensed";
    src: url("./assets/fonts/BarlowCondensed-ExtraBoldItalic.ttf");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "HeadingNowTrial";
    src: url("./assets/fonts/HeadingNowTrial-35MediumItalic.ttf");
}