/* ESTILOS GLOBALES */

html, body, p {
    margin: 0;
}

/* HEADER */

#header {
    position: absolute;
    top: 0;
    width: 100%;
}

#header-container {
    height: 116px;
    width: 100%;
    background-color: #F5F5F5;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-a {
    margin: 0 16px;
    font-family: 'HeadingNowTrial';
    font-size: 20px;
    color: #141433;
    font-style: normal;
}

#logo-header-container {
    width: 236px;
    height: 116px;
    margin: 0 48px;
}

#logo-header {
    background-image: url('/assets/SVG/logo/logo-07.svg');
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* FOOTER */

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#footer-container {
    width: 100%;
    height: 100%;
}

#footer-data {
    height: 396px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

#left-item-footer {
    height: 100%;
    width: 38%;
    border-right:1px solid #707070;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#left-item-footer #logo-header-container {
    margin: 0;
    width: 100%;
}

#left-item-footer #data-container {
    margin-top: 10px;
}

#left-item-footer #data-container p {
    color: #141433;
    font-family: 'BarlowCondensed-Medium';
    font-size: 20px;
    width: 100%;
    text-align: center;
    line-height: 27px;
    margin-bottom: 4px;
}

#left-item-footer #social-media-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 48px;
}

#left-item-footer #social-media-container .social-media-item {
    height: 32px;
    width: 32px;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 10px;
}

#left-item-footer #social-media-container .social-media-item .social-media {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#facebook {
    background-image: url('/assets/SVG/social-icons/social\ icons-facebook.svg');
}

#twitter {
    background-image: url('/assets/SVG/social-icons/social\ icons-twitter.svg');
}

#linkedin {
    background-image: url('/assets/SVG/social-icons/social\ icons-linkedin.svg');
}

#github {
    background-image: url('/assets/SVG/social-icons/social\ icons-github.svg');
}

#instagram {
    background-image: url('/assets/SVG/social-icons/social\ icons-instagram.svg');
}

#right-item-footer {
    height: 100%;
    width: calc(100% - 38%);
}

#bottom-bar {
    height: 54px;
    width: 100%;
    background-color: #3355FF;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bottom-p {
    color: white;
    font-size: 12px;
    font-family: 'BarlowCondensed-Regular';
}