/* GENERAL */

* {
    font-family: 'HeadingNowTrial';
    color: #141433;
}

body {
    overflow-x: hidden;
}

h2 {
    font-size: 4.5rem !important;
}

section {
    overflow-x: hidden;
    width: 100%;
}

.section-title {
    text-align: center;
    font-weight: 400;
    margin-top: 2rem !important;
    color: inherit;
    margin-bottom: 2rem !important;
}

@keyframes bounce {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(0, 50px, 0);
    }
}

/* HEADER */

#header {
   z-index: 99999;
}




#header a {
    margin: 0 16px;
    font-size: 26px;
    color: #141433;
    font-style: normal;
}

#header .logo-header-container {
    width: 206px;
    height: 70px;
    margin: 0 48px;
}


#header .logo-header {
    background-image: url('./assets/SVG/logo/logo-07.svg');
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#menu-hamb {
    margin-right: 1.5rem ;
}

.nav-header {
    border-bottom: 1px solid rgb(235, 232, 232);
    max-height: 80px;
}

/* INICIO */
#inicio {
    margin: 80px 0;
}

#inicio-scroll {
    position: absolute;
    top: -70px;
}

#inicio .circle {
    background: #11163a;
    width: 100vw;
    height: 100vw;
    position: absolute;
    z-index: -1;
    left: -40%;
    top: 0;
    border-radius: 50vw;
}

#inicio .header-inicio {

    font-family: "HeadingNowTrial";
    font-size: 6rem !important;
    font-weight: 550;
    line-height: 5rem;
    color: #141433;
    z-index: 9;
    margin-top: -18%;
    margin-left: 3%;
}

#inicio .subheader-inicio {

    font-family: "HeadingNowTrial";
    font-size: 2.2rem;
    font-weight: 300;
    color: #141433;
    margin-left: 8%;
    margin-top: 1%;
}


#inicio .cuadricula {

    width: 14%;
    margin-left: 8%;
    margin-top: -50%;
    z-index: 2;
}

#inicio .triangleinicio {

    width: 25%;
    margin-top: 10%;
    z-index: 1;
}

#inicio .img2-inicio {
    width: 8%;
    margin-left: 36%;
    margin-top: 5%;
}

/* SERVICES */

#services {
    background-color: #3355FF;
    color: #FFFFFF !important;
    position: relative;
    padding-bottom: 10px;

}

#services .parallax {
    /* The image used */
    background-image: url("./assets/images/services/annie-spratt-MChSQHxGZrQ-unsplash.png");

    width: 50vw;
    height: 100%;
    position: absolute;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#services .parallax .overlay{
    background-color: #000443;
    opacity: 0.7;
    width: 50vw;
    height: 100%;
    position: absolute;
}

#services-scroll {
    position: absolute;
    top: -70px;
}

#services .section-title {
    color: #fff;
    text-align: left;
}

#services .rayas {
    position: absolute;
    top: 3rem;
    right: 0;
}

#services .services-details {
    margin-top: 70px;
}

#services .service-team-img {
    width: 100%;
    margin-right: 5%;
    max-width: 350px;
}

#services .contador-container {
    position: relative;
    width: 100%;
    margin: auto;
}

#services .container-data {
    display: flex;
    height: 100%;
    align-content: center;
    align-items: center;
}

.contador {
    margin-left: 2rem;
    display: flex;
}

.dato-contador {
    margin-left: 2rem;

}

.contador-container {
    opacity: 0.8;
    margin: 4vh 0 4vh 1vw!important;
}

.contador-text {
    font-size: 40px;
    color: #FFF;
    font-size: 12vh;
    line-height: 10vh;
}

.contador-number {
    font-family: "BarlowCondensed";
    font-size: 10vh;
    line-height: 8vh;
    color: #FFF;
    margin:0;
}

#services .cuadricula-services {
    width: 100%;
    max-width: 450px;
    display: grid;
    grid-template-columns: 55% 55%;
    grid-template-rows: 40% 40%;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 50px;
    position: relative;
}

#services .box {
    position: relative;
    background-color: #5c77ff;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    display: block;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-family: sans-serif;
}

#services .box-header {
    font-family: "BarlowCondensed";
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    margin-top: 20px;
    position: relative;

}

#services .box-txt {
    font-family: "BarlowCondensed";
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.25rem;
    color: #fff;
    position: relative;
}

#services .box-circle {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
    top: -20px;
    left: 20px;
}

#services .box-img {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    position: absolute;
    top: -25px;
    left: 34px;
    z-index: 1;
}

/* WORK */

#work {
    position: relative;
    background-color: #EBEBEB;
    overflow-x: hidden;
    padding-bottom: 3rem;

}

#work-scroll {
    position: absolute;
    top: -70px;
}

#work .rombos {
    position: absolute;
    right: 15%;
}

#work .rombos-img {
    width: 200px;
    position: relative;
    left: 80%;
    top: 70px;

}

#work .work-details {
    margin-top: 70px;
}

#work .notebook-container {
    height: 250px;
    z-index: 1;
    position: relative;
}

#work .notebook-container .notebook {
    margin-top: -50px;
    animation: bounce 4s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

#work .card {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    margin-bottom: 35px;
    border-radius: 10px;
    cursor: pointer;
}

#work .jazu-logo {
    position: absolute;
    z-index: 2;
    height: 80px;
    bottom: 0.25rem;
}

#work .card-left .jazu-logo {
    left: 0.5rem;
}

#work .card-right .jazu-logo {
    right: 0.5rem;
}

#work h4 {
    color: #fff;
    position: absolute;
    z-index: 2;
    top: calc(100% - 10px - 4rem);
    font-size: 2.5rem;
    transition-duration: 500ms;
}

#work .card-left h4 {
    right: 1rem;
}

#work .card-right h4 {
    left: 1rem;
}

#work .card:hover h4 {
    top: 1rem;
    transition-duration: 500ms;
}

#work .btn-projects button {
    font-family: "BarlowCondensed";
    background-color: #3355FF;
    border-radius: 20px;
    font-style: italic;
    font-weight: 600;
    padding: 5px 40px;
    font-size: 1.5rem;
    color: #FFFFFF;
    border: none;
    margin-bottom: 3rem;
}

#work .card .details {
    color: #fff;
    overflow: hidden;
    height: 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    width: 100%;
    transition-duration: 500ms;
}

#work .card:hover .details {
    transition-duration: 500ms;
    height: 300px;
}

#work .card .details p {
    padding: 1rem;
    transition-duration: 500ms;
    margin-top: 4rem;
    color: #fff;
    z-index: 3;
    font-family: "BarlowCondensed";
    position: relative;
}

#work .card .details .overlay {
    background-color: #000443;
    border-radius: 10px;
    opacity: 0.7;
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 0;
    width: 100%;

}

#work .card .details button {
    z-index: 3;
    margin: 0 1rem;
    font-family: "BarlowCondensed";
    background-color: #00CCAA;
    position: relative;
    border-radius: 20px;
    font-style: italic;
    font-weight: 500;
    padding: 5px 20px;
    font-size: 1rem;
    color: #FFFFFF;
    border: none;
}

#work .rayas-img {
    height: 140px;
    position: absolute;
    bottom: 0;
    right: 180px;
}

#work .rayas-horizontal {
    height: 320px;
    transform: rotate(90deg);
    position: absolute;
    bottom: 0rem;
    left: 72%;
}

/* TEAM */

#team {
    background-color: #FFFFFF;
    overflow-y: hidden;
    position: relative;
}

#team-scroll {
    position: absolute;
    top: -70px;
}

.background-img {
    position: relative;
}

.bc-img {
    position: absolute;
    top: -26rem;
    right: -6rem;
}

.cuadricula-teams {
    position: relative;
    width: 8%;
    z-index: 91;

}

#team .team-details {
    margin-top: 70px;
}

.cuad-teams {
    position: absolute;
    top: 3rem;
    left: -110%;
}

#team .team-card {
    border-radius: 20px;
    margin-bottom: 40px;
    z-index: 9;
}

.card-img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.card-text {
    width: 100%;
    height: auto;
    min-height: 7rem;
    background-color: #EBEBEB;
    margin-top: -4px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.name-team {
    margin: 0;
    padding-top: 8%;
    text-align: center;
    font-family: "BarlowCondensed";
    font-weight: 600;
    font-style: italic;
    font-size: 20px;
    color: #141433;
}

.puesto {
    padding-top: 2%;
    text-align: center;
    font-family: "BarlowCondensed";
    font-weight: 100;
    font-style: normal;
    font-size: 18px;
    color: #141433;
}

.card-link {
    text-decoration: none;
}

/* CONTACT */

#contact {
    position: relative;
    background-color: #EBEBEB;
    padding-bottom: 60px;
}

#contact-scroll {
    position: absolute;
    top: -70px;
}

.flechas-contact {
    position: relative;
    width: 20rem;
}

.flechas {
    position: absolute;
    top: 3rem;
    left: 2rem;

}

#contact .contact-details {
    margin-top: 70px;
}

.datos-contact {
    margin-top: 2rem;
}

.item-contact {
    width: 100%;
    display: flex;
    margin-top: -1rem;
}


.img-contact {
    width: 3%;
}

.text-contact {
    padding-left: 8px;
    font-family: "BarlowCondensed";
    font-weight: 400;
    font-style: normal;
    padding-top: 1rem;
}

.head-right h2 {
    font-family: "HeadingNowTrial";
    font-size: 80px;
    font-weight: 400;
    color: #141433;
    line-height: 4.5rem;
    margin-top: -0.8rem;
    padding-left: 6rem;
}

textarea:focus,
input:focus {
    outline: none;
}

.formulario {
    padding-left: 6rem;
    padding-bottom: 10rem;
}

.input-form {
    width: 100%;
    background: none;
    margin-top: 1.8rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 2px;
    border-color: #3355FF;
    font-family: "BarlowCondensed";
    font-weight: 100;
    font-style: normal;
}

.textarea-form {
    width: 100%;
    background: none;
    margin-top: 1.8rem;
    border-bottom: solid 2px;
    border-width: 100%;
    border-color: #3355FF;
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: "BarlowCondensed";
    font-weight: 100;
    font-style: normal;
}

.btn-form {
    font-family: "BarlowCondensed";
    font-weight: 600;
    font-style: italic;
    color: #FFFFFF;
    background-color: #12C89E;
    border: none;
    border-radius: 30px;
    width: 5rem;
    height: 2.5rem;
    font-size: 18px;
    margin-top: 1rem;
    cursor: pointer;
}

.img-flechas {

    position: absolute;
    bottom: 3rem;

}

/* FOOTER */

.data-footer p {
    font-family: "BarlowCondensed";
    font-weight: 400;
    font-style: normal;
    text-align: center;
    line-height: 0.2rem;
    color: black;
}

.social {
    padding-top: 2rem;
    margin-bottom: 3rem;
}

.social a {
    width: 4rem;
}

#footer .logo {
    height: 150px;
}

.footer-nav {
    padding-top: 2.5rem;
}

.footer-nav a {
    font-size: 1.6rem;
    font-family: "BarlowCondensed";
    font-weight: 400;
    font-style: normal;
    padding: 0.5rem;
    text-align: center;
}

.header-footer-form p {
    font-size: 2rem;
    padding-top: 3rem;
}

.newsletter-form {
    margin-bottom: 3rem;
}

.bottom-br {
    background-color: #3355FF;
}

.bottom-br p {
    color: #FFFFFF;
    font-family: "BarlowCondensed";
    font-weight: 100;
    font-style: normal;
    text-align: center;
    padding-top: 1rem;
}

.bottom-br span {
    color: #FFFFFF;
    font-family: "BarlowCondensed";
    font-weight: 100;
    font-style: normal;
    text-align: center;
    padding-top: 1rem;
}

.whastapp {
    position: fixed;
    bottom: 3.5rem;
    right: 1rem;
    z-index: 999999999999999;
}

.whastapp img {

    height: 80px;
}

/* CAROUSEL TEAM */
.carrusel {
    margin-bottom: 5rem;
}

.carrusel-team {
    background-color: #EBEBEB;
    border-radius: 10px;
}

.c-image {
    width: 100%;
}

.c-desc {
    width: 100%;
    padding: 1rem;
    text-align: center;
}

#carrusel .modal-title-2 {
    margin-top: 0;
}

#carrusel .modal-subtitle {
    font-weight: 400;
    margin-top: 0;
}

#carrusel .desc-text {
    font-weight: 400;
}

/* MODALS */

.modal-container {
    background-color: #EBEBEB !important;
    border-radius: 10px !important;
    margin-top: 5rem;
}

.img-modal {
    width: 100%;
}

.rayas-modal {
    position: absolute;
    width: 8rem;
    right: 3rem;
    margin-top: 0.5rem;
}

.modal-title-2 {
    font-size: 1.5rem;
    margin-top: 3rem;
    color: #3355FF;
    font-family: "BarlowCondensed";
    font-weight: 600;
    font-style: italic;
}

.modal-subtitle {
    color: #3355FF;
    font-family: "BarlowCondensed";
    font-weight: 300;
    font-style: normal;
}

.desc-title {
    font-size: 1.5rem;
    font-family: "BarlowCondensed";
    font-weight: 600;
    font-style: italic;
}

.desc-text {
    font-family: "BarlowCondensed";
    font-weight: 300;
    font-style: normal;
}

.description-team {
    line-height: 1rem;
}

.bt-close {
    position: relative;
}

.bt-close button {
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
}

.bt-close-team {
    position: relative;
}

.bt-close-team button {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    cursor: pointer;
}

.logo-modal {
    position: absolute;
    left: 45rem;
    bottom: 1rem;
}

/* RESPONSIVE */

@media (max-width: 367px) {
    .img2-inicio{
     top: 45rem !important;
    }
 }

@media (max-width: 395px) {
    .img2-inicio{
     top: 31.5rem !important;
    }
 }

@media (max-width: 575px) {
    #services .cuadricula-services {
        width: 100%;
        max-width: 600px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto;
        grid-row: auto auto auto auto;
        grid-row-gap: 50px;
        position: relative;
        margin-bottom: 1rem;
        padding-left: 3rem;
        padding-right: 1rem;
        text-align: center;
    }
}

@media (max-width: 767px) {
    .formulario {
        padding-left: 0;
        padding-bottom: 1rem;
    }

    #contact .head-right {
        margin-top: 2rem;
    }

    .img-modal-work img {
        width: 100% !important;
        padding: 0;
        margin: 0;
    }

    .description-team {
        padding: 3rem !important;
        padding-top: 0 !important;
    }

    .img2-inicio {
        position: absolute;
        width: 5rem !important;
        z-index: 999;
        top: 27rem;
        left: 1rem;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    .section-title{
        margin-top: 3rem !important;
    }
    .logo-nav{
        margin-left: -2rem !important;
    }

   
}

