
/* ESTILOS GLOBALES */

html,
body,
p {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

/* HEADER */

#header {
    position: relative;
    width: 100%;
}

#header-container {
    height: 116px;
    width: 100%;
    background-color: #F5F5F5;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-a {
    margin: 0 16px;
    font-family: 'HeadingNowTrial';
    font-size: 20px;
    color: #141433;
    font-style: normal;
}

#logo-header-container {
    width: 236px;
    height: 116px;
    margin: 0 48px;
}

#logo-header {
    background-image: url('/assets/SVG/logo/logo-07.svg');
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* BODY */
#_body {
    position: relative;
    height: 3135px;
    width: 100%;

}

#body-container {
    width: 100%;
    height: 100%;
}

/* INICIO */

#inicio {
    position: relative;
    width: 100%;
    height: 600px;
}

#inicio-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
}

#inicioLeft {
    width: 60%;
    height: 100%;
}

.imgLeft1 {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}

.video-inicio{
    position: relative;
        
    width: 110%;
    height: 100%;
    border-top-right-radius: 85%;
    
}



#inicioRight {

    width: 40%;
    height: 100%;
    background-color: white;
    display: grid;

}

#imgRight3 {
    width: 100%;
    height: 100%;
  
}

.cuadricula{
    position: relative;
    width: 16%;
    left: 15%;
    top: -6%;
    z-index: 2;
}

.triangleinicio{
    position: relative;
    top: 10%;
    left: -12%;
    width: 30%;
    z-index: 1;
}

.header-inicio{
    position: relative;
    top: -30%;
   font-family:"HeadingNowTrial" ; 
   font-size: 6rem;
   font-weight: 550;
   color: #141433;
   line-height: 0.7;
   margin-left: 10%;
   margin-top: 30%;
   z-index: 9;
}
.subheader-inicio{
    position: relative;
    top: -29%;
    font-family:"HeadingNowTrial" ;
    font-size: 2.2rem;
    font-weight: 300;
    color: #141433;  
    margin-left: 15%;
    margin-top: -15%;
}

#imgRight2 {
    width: 100%;
    height: 100%;
}

#img2-inicio{
    position: relative;
    bottom: 30%;
    left: 43%;
    width: 8%;
    margin-top: 0%;
}



/* SERVICES */

#services {
    position: relative;
    width: 100%;
    height: 735px;
    background-color: #3355FF;
}
#services-container{
    display: flex;
}

#rayas{
    height: 100%;
   
}

#img-rayas{
    height: 250px;
    width: 80px;
   margin-top: 40px;
   margin-left: -20px;
}



.header-services{
    position: relative;
    top: -5%;
    left: 24%;
    font-family: "HeadingNowTrial";
    font-size: 5rem;
    font-weight: 400;
    color: #FFFFFF;
    position: relative;
}

.services-info2{
    position: relative;
    display: grid;
    grid-auto-flow: column;
    left: 8%;
    width: 150%;

}

.img-services{
    margin-top: 8%;
    margin-left: 12%;
    
}

#imgservice1{
    position: relative;
    left: 15;
    width: 61%;
    z-index: 1;
}

.contador-container{
    position: relative;
    width: 64%;
    height: 130px;
    bottom: 58px;
    left: 3%;
    background-color: #00FF94C2;
    border-radius: 5%;
    border-bottom-right-radius: 80px;
    z-index: 9;
}

.contador{
    
    display: grid;
    grid-auto-flow: column;

}


.txtcontador{
    position: relative;
    left: 20px;
    top: 35%;
    color: #FFFFFF;
    font-weight: 200;
    font-family:"BarlowCondensed-Regular";
    font-size: 3rem;
}

.txtcontador span{
    font-size: 2rem;
}

.smallcontador-container{

    display: grid;
    grid-auto-flow: column;

}

.smallcontador{
    position: relative;
    left: 40px;
    top: 70%;
    color: #FFFFFF;
    font-weight: 200;
    font-family:"BarlowCondensed-Regular";
    font-size: 1.2rem;

}

.cuadricula-services{
    margin: 20px auto;
    width:400px;
    height:400px;
    display:grid;
    grid-template-columns: 55% 55%;
    grid-template-rows: 40% 40%;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 50px;
    position: relative;
    bottom: -2%;
   
    }

    .box{
      background-color:#5c77ff;
      padding:20px;
      border-radius:10px;
      color:#fff;
      display:block;
      align-items:center;
      justify-content:center;
      font-size:40px;
      font-family:sans-serif;
    }

    .box-header{
        font-family: "BarlowCondensed-ExtraBoldItalic";
        font-size: 0.7rem;
        position: relative;
        top: -70%;
        
    }

    .box-txt{
        font-family: "BarlowCondensed-Regular";
        font-size: 0.7rem;
        position: relative;
        top: -90%;
    }

    .box-circle{
        width: 24%;
        height: 30%;
        border-radius: 100%;
        position: relative;
        top: -65%;
        left: -5%;
    }  
    
    .box-img{
        position: relative;
        top: -33%;
        left: -2%;
        width: 26%;
        height: 30%;
        z-index: 2;
    }

/* WORK */

#work {
    position: relative;
    width: 100%;
    height: 600px;
    background-color: orangered;
}

/* TEAM */

#team {
    position: relative;
    width: 100%;
    height: 600px;
    background-color: rgb(26, 17, 14);
}

/* CONTACT */

#contact {
    position: relative;
    width: 100%;
    height: 600px;
    background-color: rgb(255, 0, 200);
}

/* FOOTER */

#footer {
    width: 100%;
}

#footer-container {
    width: 100%;
    height: 100%;
}

#footer-data {
    height: 396px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

#left-item-footer {
    height: 100%;
    width: 38%;
    border-right: 1px solid #707070;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#left-item-footer #logo-header-container {
    margin: 0;
    width: 100%;
}

#left-item-footer #data-container {
    margin-top: 10px;
}

#left-item-footer #data-container p {
    color: #141433;
    font-family: 'BarlowCondensed-Medium';
    font-size: 20px;
    width: 100%;
    text-align: center;
    line-height: 27px;
    margin-bottom: 4px;
}

#left-item-footer #social-media-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 48px;
}

#left-item-footer #social-media-container .social-media-item {
    height: 32px;
    width: 32px;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 10px;
}

#left-item-footer #social-media-container .social-media-item .social-media {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#facebook {
    background-image: url('/assets/SVG/social-icons/social\ icons-facebook.svg');
}

#twitter {
    background-image: url('/assets/SVG/social-icons/social\ icons-twitter.svg');
}

#linkedin {
    background-image: url('/assets/SVG/social-icons/social\ icons-linkedin.svg');
}

#github {
    background-image: url('/assets/SVG/social-icons/social\ icons-github.svg');
}

#instagram {
    background-image: url('/assets/SVG/social-icons/social\ icons-instagram.svg');
}

#right-item-footer {
    height: 100%;
    width: calc(100% - 38%);
}

#bottom-bar {
    height: 54px;
    width: 100%;
    background-color: #3355FF;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bottom-p {
    color: white;
    font-size: 12px;
    font-family: 'BarlowCondensed-Regular';
}